extend layout

block content
    - var okul= "Çukurova Ünv"
    - var unvan= "Bilgisayar Müh"
    div(style="background-color:yellow;padding:10px;")
        | Merhaba Dünya 
        br
        | #{name} #{surname}
        br 
        =okul
        br
        =unvan

        
