html
    head
        title Deneme

    body
        div
            //- Header Kısmı
            include header
        div
            | Merhaba Dünya 
            br
            | #{name} #{surname}
        div
            //- Footer Kısmı
            include footer
