html
    head
        title
    body
        block header
            div(style="text-align:center")
                include header.pug

        block content

        block footer
            div(style="text-align:center")
                include footer.pug



